	@font-face {
    font-family: 'droid_serifregular';
    src: url(../fonts/droidserif-webfont.woff2) format('woff2'),
         url('droidserif-webfont.woff') format('woff');
}
	@font-face {
    font-family: 'droid_serifbold';
    src: url(../fonts/droidserif-bold-webfont.woff2) format('woff2'),
         url('../fonts/droidserif-bold-webfont.woff') format('woff');
}
	@font-face {
    font-family: 'droid_serifbold_italic';
    src: url('../fonts/droidserif-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-bolditalic-webfont.woff') format('woff');
	}

	@font-face {
    font-family: 'droid_serifitalic';
    src: url('../fonts/droidserif-italic-webfont.woff2') format('woff2'),
         url('../fonts/droidserif-italic-webfont.woff') format('woff');  
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/*Start of homePage CSS*/

#wrapper {
	position: relative;
	height: 100vh;
	width: auto;
	background-size: cover;
	background-position: center center;
	position: relative;

}

#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	/*border:5px solid blue;*/
}

#slider-area .owl-item div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: 50% 50%;

}

.slider-text {
	position: relative;
	left: 43%;
	z-index: 3;
	top: 25%;
	width: 16%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.2665441176470589) 0%, rgba(0,0,0,1) 100%);
}

.slider-text h2 {
	text-transform: uppercase;
	font-size: 41px;
	font-family: 'droid_serifbold_italic', serif;
	letter-spacing: 5px;
	/*color: #D79922;*/
	color:#5cd85a; ;
	font-weight: 800;
	text-shadow: 0 2px 0 0px hsl(330, 100%, 25%),
             0 3px 2px 0px hsla(330, 100%, 15%, 0.5);
}

.restoName {
	height: 43vh;
	z-index: 4;
	width:50%;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	text-align: center;
	top: 18%;
	left: 25%;

}
.restaurantName {
	font-size: 120px;
	font-family: 'Princess Sofia', cursive;
	font-weight: 600;
	letter-spacing: 10px;
	color:#CCCC00;
	text-shadow: -0px 0px 0 0 hsl(20, 100%, 16%),
               -2px 2px 0 0 hsl(20, 100%, 14%),
               -4px 4px 0 0 hsl(20, 100%, 12%),
               -6px 6px 0 0 hsl(20, 100%, 10%),
               -8px 8px 0 0 hsl(20, 100%, 8%),
               -10px 10px 0 0 hsl(20, 100%, 6%);
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.25253851540616246) 0%, rgba(0,0,0,0.21052170868347342) 100%);
}

.openingDesc {
	height: 15vh;
	z-index: 4;
	width:50%;
	/*display: flex;*/
	justify-content: center;
	position: relative;
	align-items: center;
	text-align: center;
	top: 15%;
	left: 25%;
	background: rgb(3,3,3);
	background: linear-gradient(90deg, rgba(3,3,3,0.4514180672268907) 0%, rgba(0,0,0,0.5326505602240896) 100%);
}
.openingDesc h3 {
	font-size: 22px;
	font-family: 'droid_serifbold', serf;
	font-weight: 900;
	letter-spacing: 10px;
	color:yellowgreen;
	text-transform: uppercase;
	text-shadow: -0px 0px 0 0 hsl(20, 100%, 16%),
               -2px 2px 0 0 hsl(20, 100%, 14%),
               -4px 4px 0 0 hsl(20, 100%, 12%),
               -6px 6px 0 0 hsl(20, 100%, 10%),
               -8px 8px 0 0 hsl(20, 100%, 8%),
               -10px 10px 0 0 hsl(20, 100%, 6%);

}
/*End of homePage CSS*/

/*Start of navBar CSS*/

#wrapper #nav-area {
	position: fixed;
	/*top: 0;*/
	width: 100vw;
	text-align: right;
	z-index: 10;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.865983893557423) 0%, rgba(6,0,0,0.9752275910364145) 100%);
	padding: 0 10px 0 10px;


}

.nav a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	margin: 10px 25px;
	font-weight: 800;
	letter-spacing: 1.2px;
	justify-content: center;
	align-items: center;
	font-family: 'Alegreya Sans', Monospace;
}

.nav a:hover, a:active{
	color: grey;
}

/*.slider-text a {
	text-decoration: none;
	text-transform: uppercase;
	background: tomato;
	padding: 15px 25px;
	display:inline-block;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
}*/

.logo {
	height: 80px;
	width: 200px;
	left: 5rem;
}

.logo > img {
	height:200px;
	width: 200px;
	margin-top: -3rem;
	/*margin-left: -45vw;*/
	
	
}

/*End of navBar CSS*/

/*Start of aboutPage CSS*/
.about {
	background-color: white;
	/*background: url(../images/bg2.png);*/
	background-size: cover;
	background-position: cover; 	
	display: flex;
}

/*About container*/
.aboutHold {
	height: 100vh;
	width: 100%;
	display: flex;
	border:1px solid lightgrey;
}
.bg-left {
	height: 100vh auto;
	width: 20%;
	padding: 0 auto;
	margin: 0 auto;
	background: url(../images/spices-left.png);
	background-size: cover;
	background-position: cover;
	display: flex;
}

.about-container {
	height: 100vh;
	width: 60%;
	background: url(../images/border3.jpg);
	background-size: 100% 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: cover;
	background-repeat: no-repeat;
	
}

.aboutInfo {
	height: 70%;
	width: 80%;
	position: relative;
	justify-content: center;
	display: flex;
	margin-bottom: 5rem;
	justify-content: center;
	align-items: center;
	
}

.aboutInfo > h2 {
	position: static;
	justify-content: center;
}

.aboutInfo p {
	height: 60%;
	text-align: center;
	justify-content: space-between;
	font-size: 20px;
	color: #8c52ff;
	font-family: 'Montserrat', Monospace;
	letter-spacing: 3;
	
}

.aboutUS{
	position: relative;
	font-size: 50px;
	display: flex;
	color: #4056a1;
	font-family: 'Abhaya Libre', Monospace;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	bottom: 3rem;

}

.bg-right {
	height: 100vh auto;
	width: 20%;
	margin: 0 auto;
	padding: 0 auto;
	background: url(../images/spices-right.png);
	background-size: cover;
	background-position: cover;
	display: flex;

}

/*Start of Menu CSS*/
.menu {
	background:url(../images/bg3.jpg);
	background-position: center;
	background-size: cover;
}

/*Menu container*/
.menuBody {
	width: 100%;
	height: 100vh;
	border:1px solid whitesmoke;
	display: flex;
}

.menuInfo {
	width: 60%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: relative;
}

.menuInfo > h1 {
	display: block;
	font-size: 40px;
	margin-top: 15%;
	margin-left: 2rem;
	white-space: pre-line;
	font-family: 'droid_serifbold', Monospace;
}

p.a {
	white-space: pre-wrap;
	font-size: 22px;
	text-align: justify-all;
	margin-left: 2rem;
	margin-top: 2rem;
	font-family: 'Montserrat', Monospace;
	font-stretch: 5px;
	/*line-height: 35px;*/
	text-indent: 55px;
	letter-spacing: 2px;
	font-weight: 
}
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-family: 'droid_serif',Monospace;
	text-transform: uppercase;
	font-size:20px;
	/*background: white;*/
	font-weight: 900;
	left: 100px;
	border:1px ridge black;
}

.btn a {
	text-decoration: none;
	color: black;
	font-family: 'droid_serifbold',Monospace;
}
#btn1 {
	align-items: center;
	margin-left: 20rem;
	margin-top: 2%;

}

.menubg-img {
	height: 100%;
	width: 40%;
	margin-top: 8.6rem;
}

.menubg-img > img {
	width: 100%;
	height: 79.5vh;
}

/*End of Menu CSS*/

/*Start of Gallery CSS*/

.gallery {
	background: url(../images/bg4.jpg);
	background-size: cover;
	background-position: center;
	
}

/*Gallery container CSS*/

.galleryBody {
	height: 100vh;
	width: 100%;

}

.galleryInfo {
	width: 100%;
	height: 15%;
	position: relative;
	margin-top: 4%;
}

.galleryInfo > h1 {
	font-family: 'Princess Sofia' , Monospace;
	font-size: 3vw;
	color: #ef3a5d;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 500;
}

.galleryInfo > h2 {
	font-family: 'droid_serifbold', sans-serif;
	font-size: 2vw;
	align-items:center;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 700;
	font-stretch: expanded;
	text-transform: uppercase;


} 
/*Gallery Grid CSS*/
.galleyPhotos {
	height: 85%;
	width: 100%;
	display: flex;
	padding-top: 10px 20px; 
	/*flex-wrap: wrap;*/
	position: relative;
	justify-content: center;
	align-items: center;

}
.galleryPhotos img {
	transition: 1s;
	padding:20px;
	width: 350px;
}
.galleryPhotos img:hover {
	filter:grayscale(100%);
	transform: scale(1.1);
}
/*End of Gallery Grid CSS*/

/*End of Gallery Photos*/

/*Start of Contact Page CSS*/
.contact {
	background: url(../images/bg4.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	/*justify-content: center;
	align-items: center;*/
}

.contactBody {
	height: 100vh;
	width: 100%;
}

/*Start of Form CSS*/
form {
	align-items: center;
	width: 50%;
	top: 5rem;
	margin-bottom: 20%;
}

.form-input	{
	display: block;
	width: 80%;
	height: 5%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}

/*End of Form CSS*/

.formContents {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactus {
	/*display: flex;*/
	justify-content: center;
	position: absolute;
	margin-top: 3%;
	font-size: 40px;
	font-family:'Alegreya Sans',Monospace;
	font-weight: 800;
	left: 5px;
	color: #ef3a5d;
	letter-spacing: 2;
}

.venueLocation {
	height: 100vh;
	width: 50%;
/*	display: flex;*/
	justify-content: center;
	align-items: center;
}
.googleMap {
	height: 40vh;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: start;
	display: flex;
	right: 10%;
	margin-top: 10px;
}

.visitUs {
	height: 20%;
	width: 100%;
	margin-top: 30%;
	align-content: center;
	justify-content: center;
	display: flex;
	font-size: 35px;
	text-transform: uppercase;
	font-family: 'droid_serifbold',Monospace;
	letter-spacing: 1.5;
	color: #ef3a5d;
}

/*End of Contact Page CSS*/

/*Start of Footer CSS*/

.footer-main-div {
	width: 100%;
	height: auto;
	/*margin: auto;*/
	background: #272727;
	padding: 20px 0px;
	position: relative;
}

.footer-social-icons {
	width: 100%
	height:auto;
	margin:auto;
}

.footer-social-icons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #32CD32;
}

.footer-social-icons ul li a {
	color: #272727;
	font-size: 25px;
}

.footer-social-icons ul li a i {
	line-height: 50px;
	
}


@media only screen and (min-width: 1280px) and (max-height: 720px) {
	.galleryPhotos img {
		width: 250px;
	}
}

@media only screen and (max-width: 600px) {
	#wrapper {
	position: relative;
	height: 100vh;
	width: auto;
	background-size: cover;
	background-position: center center;
	position: relative;

}

#slider-area {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	/*border:5px solid blue;*/
}

#slider-area .owl-item div {
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: 50% 50%;

}

.slider-text {
	position: relative;
	left: 2%;
	z-index: 3;
	top: 2%;
	width: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.2665441176470589) 0%, rgba(0,0,0,1) 100%);
}

.slider-text h2 {
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'droid_serifbold_italic', serif;
	letter-spacing: 5px;
	/*color: #D79922;*/
	color:#5cd85a; ;
	font-weight: 800;
	text-shadow: 0 2px 0 0px hsl(330, 100%, 25%),
             0 3px 2px 0px hsla(330, 100%, 15%, 0.5);
}

.restoName {
	height: 43vh;
	z-index: 4;
	width:50%;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	text-align: center;
	top: 6%;
	left: 25%;

}
.restaurantName {
	font-size: 35px;
	font-family: 'Princess Sofia', cursive;
	font-weight: 600;
	letter-spacing: 10px;
	color:#CCCC00;
	text-shadow: -0px 0px 0 0 hsl(20, 100%, 16%),
               -2px 2px 0 0 hsl(20, 100%, 14%),
               -4px 4px 0 0 hsl(20, 100%, 12%),
               -6px 6px 0 0 hsl(20, 100%, 10%),
               -8px 8px 0 0 hsl(20, 100%, 8%),
               -10px 10px 0 0 hsl(20, 100%, 6%);
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.25253851540616246) 0%, rgba(0,0,0,0.21052170868347342) 100%);
}

.openingDesc {
	height: 15vh;
	z-index: 4;
	width:50%;
	/*display: flex;*/
	justify-content: center;
	position: relative;
	align-items: center;
	text-align: center;
	top: -3%;
	left: 25%;
	background: rgb(3,3,3);
	background: linear-gradient(90deg, rgba(3,3,3,0.4514180672268907) 0%, rgba(0,0,0,0.5326505602240896) 100%);
}

.openingDesc h3 {
	font-size: 20px;
	font-family: 'droid_serifbold', serf;
	font-weight: 900;
	letter-spacing: 10px;
	color:yellowgreen;
	text-transform: uppercase;
	text-shadow: -0px 0px 0 0 hsl(20, 100%, 16%),
               -2px 2px 0 0 hsl(20, 100%, 14%),
               -4px 4px 0 0 hsl(20, 100%, 12%),
               -6px 6px 0 0 hsl(20, 100%, 10%),
               -8px 8px 0 0 hsl(20, 100%, 8%),
               -10px 10px 0 0 hsl(20, 100%, 6%);

}
/*End of homePage CSS*/

/*Start of navBar CSS*/

#wrapper #nav-area {
	position: fixed;
	/*top: 0;*/
	width: 100vw;
	text-align: right;
	z-index: 10;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.865983893557423) 0%, rgba(6,0,0,0.9752275910364145) 100%);
	padding: 0 10px 0 10px;


}

.nav a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	margin: 10px 25px;
	font-weight: 800;
	letter-spacing: 1.2px;
	justify-content: center;
	align-items: center;
	font-family: 'Alegreya Sans', Monospace;
}

.nav a:hover, a:active{
	color: grey;
}

/*.slider-text a {
	text-decoration: none;
	text-transform: uppercase;
	background: tomato;
	padding: 15px 25px;
	display:inline-block;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius: 25px;
}*/

.logo {
	height: 80px;
	width: 200px;
	left: 5rem;
}

.logo > img {
	height:200px;
	width: 200px;
	margin-top: -3rem;
	/*margin-left: -45vw;*/
	
	
}

/*End of navBar CSS*/

/*Start of aboutPage CSS*/
.about {
	background-color: white;
	/*background: url(../images/bg2.png);*/
	background-size: cover;
	background-position: cover; 	
	display: flex;
}

/*About container*/
.aboutHold {
	height: 100vh;
	width: 100%;
	display: flex;
	border:1px solid lightgrey;
}
.bg-left {
	height: 100vh auto;
	width: 20%;
	padding: 0 auto;
	margin: 0 auto;
	background: url(../images/spices-left.png);
	background-size: cover;
	background-position: cover;
	display: flex;
}

.about-container {
	height: 100vh;
	width: 60%;
	background: url(../images/border3.jpg);
	background-size: 100% 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: cover;
	background-repeat: no-repeat;
	
}

.aboutInfo {
	height: 70%;
	width: 80%;
	position: relative;
	justify-content: center;
	display: flex;
	margin-bottom: 5rem;
	justify-content: center;
	align-items: center;
	
}

.aboutInfo > h2 {
	position: static;
	justify-content: center;
}

.aboutInfo p {
	height: 60%;
	text-align: center;
	justify-content: space-between;
	font-size: 8px;
	color: #8c52ff;
	font-family: 'Montserrat', Monospace;
	letter-spacing: 3;
	
}

.aboutUS{
	position: relative;
	font-size: 50px;
	display: flex;
	color: #4056a1;
	font-family: 'Abhaya Libre', Monospace;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 2px;
	justify-content: center;
	text-transform: uppercase;
	bottom: 3rem;

}

.bg-right {
	height: 100vh auto;
	width: 20%;
	margin: 0 auto;
	padding: 0 auto;
	background: url(../images/spices-right.png);
	background-size: cover;
	background-position: cover;
	display: flex;

}

/*Start of Menu CSS*/
.menu {
	background:url(../images/bg3.jpg);
	background-position: center;
	background-size: cover;
}

/*Menu container*/
.menuBody {
	width: 100%;
	height: 100vh;
	border:1px solid whitesmoke;
	display: flex;
}

.menuInfo {
	width: 60%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: relative;
}

.menuInfo > h1 {
	display: block;
	font-size: 40px;
	margin-top: 15%;
	margin-left: 2rem;
	white-space: pre-line;
	font-family: 'droid_serifbold', Monospace;
}

p.a {
	white-space: pre-wrap;
	font-size: 10px;
	text-align: justify-all;
	margin-left: 2rem;
	margin-top: 2rem;
	font-family: 'Montserrat', Monospace;
	font-stretch: 5px;
	/*line-height: 35px;*/
	text-indent: 55px;
	letter-spacing: 2px;
	font-weight: 
}
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	font-family: 'droid_serif',Monospace;
	text-transform: uppercase;
	font-size:20px;
	/*background: white;*/
	font-weight: 900;
	left: 100px;
	border:1px ridge black;
}

.btn a {
	text-decoration: none;
	color: black;
	font-family: 'droid_serifbold',Monospace;
}
#btn1 {
	align-items: center;
	margin-left: 20rem;
	margin-top: 2%;

}

.menubg-img {
	height: 100%;
	width: 40%;
	margin-top: 8.6rem;
}

.menubg-img > img {
	width: 100%;
	height: 79.5vh;
}

/*End of Menu CSS*/

/*Start of Gallery CSS*/

.gallery {
	background: url(../images/bg4.jpg);
	background-size: cover;
	background-position: center;
	
}

/*Gallery container CSS*/

.galleryBody {
	height: 100vh;
	width: 100%;

}

.galleryInfo {
	width: 100%;
	height: 15%;
	position: relative;
	margin-top: 4%;
}

.galleryInfo > h1 {
	font-family: 'Princess Sofia' , Monospace;
	font-size: 3vw;
	color: #ef3a5d;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 500;
}

.galleryInfo > h2 {
	font-family: 'droid_serifbold', sans-serif;
	font-size: 2vw;
	align-items:center;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 700;
	font-stretch: expanded;
	text-transform: uppercase;


} 
/*Gallery Grid CSS*/
.galleyPhotos {
	height: 85%;
	width: 100%;
	display: flex;
	padding-top: 10px 20px; 
	/*flex-wrap: wrap;*/
	position: relative;
	justify-content: center;
	align-items: center;

}
.galleryPhotos img {
	transition: 1s;
	padding:20px;
	width: 100px;
}
.galleryPhotos img:hover {
	filter:grayscale(100%);
	transform: scale(1.1);
}
/*End of Gallery Grid CSS*/

/*End of Gallery Photos*/

/*Start of Contact Page CSS*/
.contact {
	background: url(../images/bg4.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	/*justify-content: center;
	align-items: center;*/
}

.contactBody {
	height: 100vh;
	width: 100%;

}

/*Start of Form CSS*/
form {
	align-items: center;
	width: 50%;
/*	top: 5rem;*/
/*	margin-bottom: 20%;*/
}
.conta{
	
}

.form-input	{
	display: block;
	width: 80%;
	height: 5%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}

/*End of Form CSS*/

.formContents {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.contactus {
	/*display: flex;*/
	justify-content: center;
	position: relative;
	margin-top: 3%;
	font-size: 40px;
	font-family:'Alegreya Sans',Monospace;
	font-weight: 800;
	left: 5px;
	color: #ef3a5d;
	letter-spacing: 2;
}

.venueLocation {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.googleMap {
	height: auto;
	width: 300px;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	right: 0%;
	/*margin-top: 10px;*/
}
iframe{
	width: 375px;
	height: 300px;
}

.visitUs {
	height: 20%;
	width: 100%;
	margin-top: 30%;
	align-content: center;
	justify-content: center;
	display: flex;
	font-size: 35px;
	text-transform: uppercase;
	font-family: 'droid_serifbold',Monospace;
	letter-spacing: 1.5;
	color: #ef3a5d;
}

/*End of Contact Page CSS*/

/*Start of Footer CSS*/

.footer-main-div {
	width: 100%;
	height: auto;
	/*margin: auto;*/
	background: #272727;
	padding: 20px 0px;
	position: relative;
}

.footer-social-icons {
	width: 100%
	height:auto;
	margin:auto;
}

.footer-social-icons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #32CD32;
}

.footer-social-icons ul li a {
	color: #272727;
	font-size: 25px;
}

.footer-social-icons ul li a i {
	line-height: 50px;
	
}

}